.idea/*
*.iml
*/target/*
target/*
catalina.base_IS_UNDEFINED/*
/*/nb-configuration.xml
/*/nbactions.xml
*/.classpath
*/.settings
*/.project
catalina.base_IS_UNDEFINED/*
target/*
crawler.pid
**/chromedriver.log
/nb-configuration.xml
/nbactions.xml
*.class
.settings/*
.project
.classpath**/.DS_Store
.DS_Store
/src/main/resources/templates/developer.properties
/developer.properties
dependency.graphml